// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-header {
    background-color: unset;
    font-size: 1.5rem;
    margin: unset;

    .competitors-wrapper {
        color: white;
        background-color: red;
        text-align: center;
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        position: absolute;
        width: 100%;
        z-index: 1;

        //start prepend to show selected text
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        // end

        .competitors-body {

            .competitors-list {
                list-style: none;

                .toggle-list-checkboxes {
                    margin-bottom: 20px;
                }

               li {
                   position: relative;
                   display: flex;
                   padding-left: 30px;

                   .competitor-checkbox {
                       position: absolute;
                       left: 0;
                       height: 20px;
                       width: 20px;
                       background-color: #eee;
                       top: 10px;

                       .fa-check {
                           color: red;
                           font-size: 1.2rem;
                           display: block;
                       }
                   }
               }
            }

        }

    }

    .date-range {
        text-align: center;
        line-height: 3.5rem;

        .date-value {
            font-weight: bold;
            color: red;
        }
    }

    .fa-download {
        line-height: 3.5rem;
        font-size: 50px;
        color: red;
        cursor: pointer;
    }

}

.card {

    .chart-wrapper {
        //max-height: 800px;
    }

}



