<script>
import {Line, mixins} from 'vue-chartjs'

const {reactiveProp} = mixins;

export default {
    extends: Line,
    mixins: [reactiveProp],
    props: {
        chartData: {
            type: Object,
            default() {
                return {}
            }
        },
        options: {
            type: Object,
            default() {
                return {}
            }
        },
    },
    mounted() {
        this.renderChart(this.chartData, this.options)
    },
    methods: {}
}
</script>

<style scoped>

</style>
