<template>
    <div class="pagination pl-2">
        <nav>
            <ul class="pagination">
                <li v-for="(link, key) in links"
                    :aria-label="link.label"
                    :class="{'page-item': link.url, 'active': link.active}">

                    <a :href="link.url"
                       class="page-link"
                       v-if="link.url"
                       v-html="link.label">
                    </a>
                    <span class="page-link" v-html="link.label" v-else></span>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>

export default {
    name: "PaginationComponent",
    data: function () {
        return {
            links: this.linksCollection,
        }
    },
    props: {
        linksCollection: {
            type: Array,
            default: {},
        },
        updateLinksEvent: {
            type: String,
            default: '',
        },
    },
    methods: {
        updateLinks(links) {
            this.links = links;
        }
    },
    created() {
        this.$eventBus.$on(this.updateLinksEvent, data => this.updateLinks(data))
    }
}
</script>

<style scoped>

</style>
