<template>
    <div class="w-100 py-3">
        <div class="card">
            <div class="col-md-12 card-header d-flex justify-content-between row">
                <div class="col-md-4 date-range">
                    <span>From</span>
                    <date-picker class="date-value" v-model="startDate_" :disabled-date="startDateLimit"
                                 valueType="format"
                    ></date-picker>
                    <span> to </span>
                    <date-picker class="date-value" v-model="endDate_" :disabled-date="endDateLimit" valueType="format"
                    ></date-picker>
                </div>
                <div class="col-md-5">
                    <i class="fas fa-download float-right" @click="downloadCsv"></i>
                </div>
                <div class="col-md-3">
                    <div class="competitors-wrapper">
                        <div class="competitors-header" @click="toggleCompetitorsList()"
                             v-html="competitorsHeader"></div>
                        <div v-show="showCompetitorsBody" class="competitors-body">
                            <hr>
                            <ul class="competitors-list">
                                <li @click="selectDeselectAllList()" class="toggle-list-checkboxes">
                                     <span class="competitor-checkbox">
                                      <i class="fa fa-check" aria-hidden="true" v-show="selectedAll"></i>
                                    </span>
                                    <span v-html="toggleListTitle"></span>
                                </li>
                                <li v-for="(competitor, key) in competitors" @click="toggleCompetitor(competitor)">
                                    <span class="competitor-checkbox">
                                      <i class="fa fa-check" aria-hidden="true" v-show="competitor.showInList"></i>
                                    </span>
                                    <span v-html="niceCompetitorName(key)" :title="competitor.title"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12 chart-wrapper">
                <line-chart-component
                    :chart-data="chartData"
                    :options="chartOptions"
                >
                </line-chart-component>
            </div>
        </div>
    </div>


</template>

<script>
import LineChartComponent from "./LineChartComponent";
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';

export default {
    name: "ProductTableComponent",
    components: {
        'line-chart-component': LineChartComponent,
        'date-picker': DatePicker,
    },
    data: function () {
        return {
            product: this.productObject,
            competitors: this.competitorsCollection,
            startDate_: this.startDate,
            endDate_: this.endDate,
            showCompetitorsBody: false,
            selectedAll: true,
            chartOptions: {
                animation: {
                    duration: 0
                },
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                },
                responsive: true,
                maintainAspectRatio: false,
                height: 500
            },
            chartColors: {},
        }
    },
    props: {
        productObject: {
            type: Object,
            default() {
                return {}
            }
        },
        competitorsCollection: {
            type: Array,
            default() {
                return {}
            }
        },
        startDate: {
            type: String,
            default: '',
        },
        endDate: {
            type: String,
            default: '',
        },
        priceHistoryRoute: {
            type: String,
            default: '',
        },
        downloadCsvRoute: {
            type: String,
            default: '',
        },
    },
    methods: {
        downloadCsv() {

            let checkedCompetitors = this.competitors.filter(competitor => {return competitor.showInList == true});
            let productComponent = this;

            axios.post(this.downloadCsvRoute, {
                startDate: this.startDate_,
                endDate: this.endDate_,
                competitorIds: checkedCompetitors.map(item => {return item["id"]}),
            })
                .then(function (response) {
                    console.log(response.data)

                    if (!response.data.csvPath) {
                        return;
                    }

                    productComponent.loading = false;
                    window.open(response.data.csvPath + '?file=prices.csv', "_blank")
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
        toggleCompetitorsList() {
            this.showCompetitorsBody = !this.showCompetitorsBody;
        },
        toggleCompetitor(competitor) {
            competitor.showInList = !competitor.showInList;
        },
        selectDeselectAllList() {
            this.selectedAll = !this.selectedAll;

            this.competitors.forEach((competitor, key) => {
                competitor.showInList = this.selectedAll;
            });
        },
        randomColor() {
            return "#" + ((1 << 24) * Math.random() | 0).toString(16);
        },
        setColorsCollection() {
            this.chartColors[0] = this.randomColor();

            this.competitorsCollection.forEach((competitor, key) => {
                this.chartColors[key + 1] = this.randomColor();
            });
        },
        getDataByDate() {

            let productComponent = this;

            axios.post(this.priceHistoryRoute, {
                startDate: this.startDate_,
                endDate: this.endDate_,
            })
                .then(function (response) {
                    console.log(response.data)
                    if (response.data.product) {
                        productComponent.product = response.data.product;
                    }
                    if (response.data.competitors) {
                        productComponent.competitors = response.data.competitors;
                    }
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        }
    },
    computed: {
        startDateLimit() {
            let app = this
            return date => date >= new Date(app.endDate_)
        },
        endDateLimit() {
            let app = this
            return date => date <= new Date(app.startDate_)
        },
        competitorsHeader() {
            return !this.showCompetitorsBody ? 'Show' : 'Hide';
        },
        toggleListTitle() {
            return this.selectedAll ? 'Deselect all' : 'Select all';
        },
        niceCompetitorName() {
            return key => 'Competitor ' + (key + 1);
        },
        chartData() {
            let labels = [],
                data = [],
                datasets = [];

            this.product.prices.forEach((priceObject, index) => {
                labels.push(priceObject.date)
                data.push(priceObject.price)
            });

            datasets.push({
                label: this.productObject.title,
                fill: false,
                backgroundColor: 'transparent',
                borderColor: this.chartColors[0],
                data: data,
            })

            this.competitors.forEach((competitor, key) => {

                if (!competitor.showInList) {
                    return;
                }

                let competitorData = [];

                competitor.prices.forEach((priceObject, index) => {
                    competitorData.push(priceObject.price)
                });

                datasets.push({
                    label: this.niceCompetitorName(key),
                    fill: false,
                    backgroundColor: 'transparent',
                    borderColor: this.chartColors[key + 1],
                    data: competitorData
                })
            });

            return {
                labels: labels,
                datasets: datasets
            }
        },
    },
    mounted() {

    },
    beforeCreate() {

    },
    created() {
        this.setColorsCollection();
    }
}
</script>

<style scoped>

</style>
