<template>
    <div class="w-100 py-3 lead-table-main">
        <div class="d-flex justify-content-between row">
            <div class="col-md-5">
                <pagination-component
                    :update-links-event="updateLinksEvent"
                    :links-collection="links">
                </pagination-component>
            </div>
            <div class="col-md-5">
                <search-component
                    :_pattern="pattern"
                    :update-collection-event="updateCollectionEvent"
                    :search-route="searchRoute">
                </search-component>
            </div>
        </div>
        <div class="lead-table-wrapper mb-3">
            <table class="table table-sm table-bordered table-hover text-center">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Sale Price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ salePriceView(product.sale_price) }}</td>
                    <td>
                        <a :href="productViewRoute(product)">View</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <pagination-component
            :update-links-event="updateLinksEvent"
            :links-collection="links"></pagination-component>
    </div>


</template>

<script>

export default {
    name: "ProductTableComponent",
    data: function () {
        return {
            updateCollectionEvent: 'updateCollectionEvent',
            updateLinksEvent: 'updateLinksEvent',
            products: this.productCollection.data,
            links: this.productCollection.links,
        }
    },
    props: {
        productCollection: {
            type: Object,
            default() {
                return {}
            }
        },
        pattern: {
            type: String,
            default: '',
        },
        searchRoute: {
            type: String,
            default: '',
        },
    },
    methods: {
        updateProductsCollection(responseData) {
            this.products = responseData.data;
            this.$eventBus.$emit(this.updateLinksEvent, responseData.links);

        },
        productViewRoute(product) {
            return '/product/' + product.id + '/view';
        },
        salePriceView(salePrice) {
            return salePrice === 0 ? '-' : salePrice;
        },
    },
    computed: {},
    mounted() {
        console.log('Mounted Product table');
        console.log(this.productCollection)
    },
    created() {
        this.$eventBus.$on(this.updateCollectionEvent, data => this.updateProductsCollection(data))
    }
}
</script>

<style scoped>

</style>
