<template>
    <div class="col-md-12">
        <div class="form-group d-flex">
            <button class="btn btn-success btn mr-3" @click="resetSearch">Reset</button>
            <div class="input-icon input-icon-lg right">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control input-lg" autocomplete="off"
                       ref="search"
                       v-model="pattern"
                       v-on:keyup="searchByPattern"
                       placeholder="Search">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "SearchComponent",
    data () {
        return {
            pattern: this._pattern,
        }
    },
    mounted() {
        this.focusInput()
    },
    props: {
        searchRoute: {
            type: String,
            default: '',
        },
        _pattern: {
            type: String,
            default: '',
        },
        updateCollectionEvent: {
            type: String,
            default: '',
        }
    },
    methods: {
        focusInput() {
            this.$refs.search.focus()
        },
        resetSearch() {
            this.pattern = '';
            this.searchByPattern()
        },
        searchByPattern() {
            if (!this.searchRoute) {
                return false;
            }

            let searchComponent = this;

            axios.post(this.searchRoute, {
                pattern: this.pattern,
            })
                .then(function (response) {
                    console.log(response)
                    searchComponent.$eventBus.$emit(searchComponent.updateCollectionEvent, response.data.products)
                })
                .catch(function (resp) {
                    console.log(resp);
                });
        },
    }
}
</script>
